@charset "utf-8";

table {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 12px;
}

th, td {
	border: 1px solid black;
	padding: 3px;
	text-align: left;	
}

th {
	text-transform: capitalize;
	background-color: #F0F0F0;	
	
}